.font-italiana {
  font-family: "Italiana", sans-serif; }

.font-inter {
  font-family: "Inter", sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.7; }

a {
  text-decoration: none; }

ul,
li {
  list-style: none; }

body {
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.container {
  width: 100%;
  max-width: 1200px; }

.app-header {
  display: flex;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../images/hero-canada-wallpaper.png) top no-repeat;
  background-size: cover;
  height: 100vh; }
  .app-header .header-container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .app-header .header-container .header-navbar {
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.616);
      width: 100%; }
      .app-header .header-container .header-navbar .container .header-navbar-contents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .app-header .header-container .header-navbar .container .header-navbar-contents .header-logo img {
          display: block;
          width: 100px;
          cursor: pointer; }
        .app-header .header-container .header-navbar .container .header-navbar-contents .header-menu ul {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .app-header .header-container .header-navbar .container .header-navbar-contents .header-menu ul li {
            margin: 0 10px;
            cursor: pointer;
            transition: 0.5s; }
            .app-header .header-container .header-navbar .container .header-navbar-contents .header-menu ul li:hover {
              color: crimson; }
        .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons .language {
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            background: #fff;
            color: #1e1e1e;
            border-radius: 15px;
            font-weight: 400;
            cursor: pointer;
            transition: 0.5s; }
            .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons .language:hover {
              background: crimson;
              color: #fff; }
          .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons i {
            display: none;
            font-size: 25px;
            margin: 0 10px;
            cursor: pointer;
            transition: 0.5s; }
            .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons i:hover {
              color: crimson; }
    .app-header .header-container .hero-contents {
      display: flex;
      justify-content: center;
      padding: 20px; }
      .app-header .header-container .hero-contents .container .hero-content-inner {
        display: flex;
        flex-direction: column; }
        .app-header .header-container .hero-contents .container .hero-content-inner h1 {
          text-align: end;
          font-weight: normal;
          font-size: 75px;
          margin-bottom: 20px; }
        .app-header .header-container .hero-contents .container .hero-content-inner p {
          align-self: flex-end;
          text-align: end;
          max-width: 400px;
          font-size: 20px; }
        .app-header .header-container .hero-contents .container .hero-content-inner .button-shop {
          align-self: flex-end; }
    .app-header .header-container .hero-category-select {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end; }
      .app-header .header-container .hero-category-select span:first-child,
      .app-header .header-container .hero-category-select span:last-child {
        margin: 0 15px;
        cursor: pointer;
        transition: 0.5s; }
        .app-header .header-container .hero-category-select span:first-child:hover,
        .app-header .header-container .hero-category-select span:last-child:hover {
          color: crimson; }

.app-main .main-container .main-about-container {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .app-main .main-container .main-about-container .container .main-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .app-main .main-container .main-about-container .container .main-about .main-about-logo img {
      object-fit: cover;
      object-position: center;
      width: 250px;
      margin-bottom: 30px; }
  .app-main .main-container .main-about-container .container p {
    text-align: center;
    font-size: 18px; }

.button-shop {
  display: inline-flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  background: transparent;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s; }
  .button-shop:hover {
    border: 1px solid crimson;
    color: crimson; }

@media (max-width: 1024px) {
  .app-header .header-container .hero-contents {
    display: flex;
    justify-content: center;
    padding: 20px; }
    .app-header .header-container .hero-contents .container .hero-content-inner {
      display: flex;
      flex-direction: column; }
      .app-header .header-container .hero-contents .container .hero-content-inner h1 {
        text-align: end;
        font-weight: normal;
        font-size: 50px;
        margin-bottom: 20px; }
      .app-header .header-container .hero-contents .container .hero-content-inner p {
        align-self: flex-end;
        text-align: end;
        max-width: 400px;
        font-size: 15px; } }

@media (max-width: 800px) {
  .app-header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../images/hero-canada-wallpaper.png) 30% 0% no-repeat; }
    .app-header .header-container .header-navbar .container .header-navbar-contents .header-logo img {
      width: 80px; }
    .app-header .header-container .header-navbar .container .header-navbar-contents .header-menu ul {
      display: none; }
    .app-header .header-container .header-navbar .container .header-navbar-contents .header-icons i {
      display: flex; }
    .app-header .header-container .hero-contents .container .hero-content-inner {
      padding-top: 50px; }
      .app-header .header-container .hero-contents .container .hero-content-inner h1 {
        text-align: center;
        font-size: 50px; }
      .app-header .header-container .hero-contents .container .hero-content-inner p {
        align-self: center;
        text-align: center;
        font-size: 16px;
        margin: 20px 0; }
      .app-header .header-container .hero-contents .container .hero-content-inner .button-shop {
        align-self: center; } }
