@media (max-width: 800px) {
  .app-header {
    .header-container {
      // align-items: center;
      .header-navbar {
        .container {
          .header-navbar-contents {
            .header-menu {
              ul {
                display: none;
              }
            }
            .header-icons {
              i {
                display: flex;
              }
            }
          }
        }
      }
      // hero
      .hero-contents {
        .container {
          .hero-content-inner {
            h1 {
              text-align: center;
              font-size: 45px;
            }
            p {
              align-self: center;
              text-align: center;
              font-size: 14px;
            }
            .button-shop {
              align-self: center;
            }
          }
        }
      }
    }
  }
}
