@media (max-width: 1024px) {
  .app-header {
    .header-container {
      // hero
      .hero-contents {
        display: flex;
        justify-content: center;
        padding: $padding;
        .container {
          .hero-content-inner {
            display: flex;
            flex-direction: column;

            h1 {
              text-align: end;
              font-weight: normal;

              font-size: 50px;
              margin-bottom: 20px;
            }
            p {
              align-self: flex-end;
              text-align: end;
              max-width: 400px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  //main
  .app-main {
    .main-container {
      .main-collection-container {
        // products
        .container {
          .product-slider {
            .products {
              grid-auto-columns: calc(100% / 3);
            }
          }
        }
      }
    }
  }
}
