@media (max-width: 570px) {
  //main
  .app-main {
    .main-container {
      .main-collection-container {
        // menu
        .collection-menu {
          .container {
            ul {
              padding: 15px 10px;
              li {
                margin-right: 35px;
                font-size: 12px;
              }
            }
          }
        }
        // products
        .container {
          padding: 0 30px;
          .product-slider {
            // padding: 0 5px;
            .products {
              grid-auto-columns: calc(100% / 1);
            }
          }
        }
      }

      // brand slider
      .main-brands-container {
        .container {
          // overflow: hidden;
          .brand-slider {
            .brands {
              grid-auto-columns: calc(100% / 2);
            }
          }
        }
      }

      //Get In Touch
      .main-get-in-touch-container {
        .container {
          .main-get-in-touch {
            .get-in-touch-content {
              .get-in-touch-form form {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
              }
            }
          }
        }
      }
    }
  }

  // footer
  .app-footer {
    .footer-container {
      flex-direction: column;

      .copyright {
        order: 2;
        margin-bottom: 10px;
      }
      .social-links {
        order: 1;
        margin-bottom: 10px;
      }
    }
  }
}
