.app-footer {
  width: 100%;
  padding: 20px;
  border-top: 2px solid #f5f5f559;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright {
      a {
        color: $light-color;
      }
      i {
        margin: 0 5px;
      }
    }
    .social-links {
      a {
        color: $light-color;
        i {
          font-size: 25px;
          padding: 5px;
          margin: 0 5px;
          transition: 1s;
          &:hover {
            transform: rotate(360deg) scale(1.5);
            color: $primary-color;
          }
        }
      }
      span {
        padding: 0 10px;
      }
    }
  }
}
